@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Verdana:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(59, 59, 79);
  color: black;
  text-align: center;
}

h2 {
  color: rgba(255, 255, 255, 0.776);
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
}
.freecodecamp_logo {
  width: 1.8rem;
  height: 1.8rem;
  margin-bottom: -0.6rem;
  font-weight: 800;
}
h1 {
  letter-spacing: 1px;
  text-align: center;
  margin: 20px auto;
  font-size: 1.8rem;
  line-height: 35px;
  color: white;
  max-width: 430px;
}
form {
  width: 25%;
  width: 300px;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 0.7rem 1.2rem 1rem;
  background-color: black;
}
.small_circle {
  width: 12px;
  margin: 0 auto;
  height: 12px;
  border-radius: 50%;
  background-color: #dfdfe2;
}
.container {
  margin: 20px auto 10px;
  padding: 12px 8px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 25rem;
  text-align: center;
  background-color: #dfdfe2;
}
form p {
  font-size: 1rem;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}
#user-input {
  display: block;
  font-size: 1.4rem;
  color: #0a0a23;
  width: 70%;
  height: 30px;
  padding: 7px 7px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #0a0a23;
}
#results-div {
  font-size: 1.3rem;
  color: black;
  text-align: center;
  width: 90%;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 25px;
  margin: 15px auto;
}
.button_div {
  display: flex;
  justify-content: center;
  width: 100%;
}
#check-btn,
#clear-btn {
  cursor: pointer;
  height: 40px;
  background: #dfdfe2;
  border: 2px solid #fff;
  padding: 0.5rem 1.2rem;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}
#clear-btn {
  margin-left: 18px;
}

/* iPad */
@media only screen and (max-width: 1024px) {
  h2 {
    margin-top: 4rem;
  }
  form {
    width: 45%;
    margin: 2rem auto;
  }

  .button_div {
    margin-top: 1rem;
  }
  #check-btn,
  #clear-btn {
    height: 45px;
  }
}

/* Mobile ----------- */
@media only screen and (max-width: 767px) {
  form {
    width: 65%;
  }
}
